/*CSS file for Shreemata Sangeet shale */
body {
  
}
.header {
  background-color:  #ffffff;
  color: #9933cc;
  
}

hr {
        position: relative;
        height: 7px;
        background: #e8c410;
       

        
    }

.logo{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  border-radius: 50%;
	
	  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  		filter: grayscale(100%);


	  
}

.hero{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	 


	  
}
